.planyvite-quill-editor {
  width: 100%;
  .planyvite-quill-editor-container {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    .ql-editor {
      min-height: 300px;
      max-height: 600px;
    }
  }
}
